@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="d-flex align-items-center" href="/Home/Page">
            <img src="logo-long.svg" class="img-fluid" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        @* ================= HOME ================= *@
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Home/Page" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu me-2"></span>
                <small>Home</small>
            </NavLink>
        </div>

        @* ================= ADMIN ================= *@
        <AuthorizeView Roles="Admin">
            <Authorized>

                @* SALES *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#salesAdmin">
                            <span class="bi bi-cart-fill-nav-menu me-2"></span> <small>Sales</small>
                        </button>
                        <div id="salesAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Sales"><span class="bi bi-receipt-nav-menu me-2"></span><small>Sales</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/TransactionHistory/Index"><span class="bi bi-clock-history-nav-menu me-2"></span><small>Transactions</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/SalesTerritory/Index"><span class="bi bi-map-fill-nav-menu me-2"></span><small>Territories</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Currency/Index"><span class="bi bi-currency-dollar-nav-menu me-2"></span><small>Currencies</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/CurrencyRate/Index"><span class="bi bi-currency-exchange-nav-menu me-2"></span><small>Rates</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                @* PRODUCTS *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#productsAdmin">
                            <span class="bi bi-bicycle-nav-menu me-2"></span> <small>Products</small>
                        </button>
                        <div id="productsAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Product/Index"><span class="bi bi-box-seam-nav-menu me-2"></span><small>Products</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ProductCategory/Index"><span class="bi bi-folder-nav-menu me-2"></span><small>Categories</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ProductDescription/Index"><span class="bi bi-file-text-nav-menu me-2"></span><small>Descriptions</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Culture/Index"><span class="bi bi-translate-nav-menu me-2"></span><small>Cultures</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Location/Index"><span class="bi bi-pin-map-nav-menu me-2"></span><small>Locations</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                @* GEOGRAPHY *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#geoAdmin">
                            <span class="bi bi-globe-americas-nav-menu me-2"></span> <small>Geography</small>
                        </button>
                        <div id="geoAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/CountryRegions/Index"><span class="bi bi-flag-fill-nav-menu me-2"></span><small>Countries</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/StateProvince/Index"><span class="bi bi-building-fill-nav-menu me-2"></span><small>States</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                @* HUMAN RESOURCES *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#hrAdmin">
                            <span class="bi bi-people-fill-nav-menu me-2"></span> <small>Human Resources</small>
                        </button>
                        <div id="hrAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Employee/Index"><span class="bi bi-person-badge-nav-menu me-2"></span><small>Employees</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Department/Index"><span class="bi bi-building-nav-menu me-2"></span><small>Departments</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Person/Index"><span class="bi bi-person-add-nav-menu me-2"></span><small>Person</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                @* PURCHASING *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#purchAdmin">
                            <span class="bi bi-truck-nav-menu me-2"></span> <small>Purchasing</small>
                        </button>
                        <div id="purchAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Vendor/Index"><span class="bi bi-shop-nav-menu me-2"></span><small>Vendors</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ShipMethods"><span class="bi bi-send-plus-nav-menu me-2"></span><small>Ship Methods</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                @* CONFIGURATION *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#configAdmin">
                            <span class="bi bi-gear-fill-nav-menu me-2"></span> <small>Configuration</small>
                        </button>
                        <div id="configAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/PhoneNumberType/Index"><span class="bi bi-telephone-plus-nav-menu me-2"></span><small>Phone Types</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ContactType/Index"><span class="bi bi-person-lines-fill-nav-menu me-2"></span><small>Contact Types</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

            </Authorized>
        </AuthorizeView>

        @* ================= CUSTOMER ================= *@
        <AuthorizeView Roles="Customer">
            <Authorized>
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#salesCustomer">
                            <span class="bi bi-cart-fill-nav-menu me-2"></span> <small>Sales</small>
                        </button>
                        <div id="salesCustomer" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Sales"><span class="bi bi-receipt-nav-menu me-2"></span><small>Sales</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ShoppingCart"><span class="bi bi-cart-nav-menu me-2"></span><small>Shopping Cart</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>

        @* ================= VENDOR ================= *@
        <AuthorizeView Roles="Vendor">
            <Authorized>
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#vendorProducts">
                            <span class="bi bi-bicycle-nav-menu me-2"></span> <small>Products</small>
                        </button>
                        <div id="vendorProducts" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Product/Index"><span class="bi bi-box-seam-nav-menu me-2"></span><small>Products</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ProductCategory/Index"><span class="bi bi-folder-nav-menu me-2"></span><small>Categories</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center" href="/ShipMethods">
                        <span class="bi bi-send-plus-nav-menu me-2"></span>
                        <small>Ship Methods</small>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @* ================= LOGIN / LOGOUT ================= *@
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post" class="w-100">
                        <AntiforgeryToken />
                        <input type="hidden" name="returnUrl" value="@NavigationManager.Uri" />
                        <button type="submit"
                                class="nav-link d-flex align-items-center w-100 border-0 bg-transparent text-start p-0">
                            <span class="bi bi-box-arrow-right-nav-menu me-2"></span>
                            <small>Salir</small>
                        </button>
                    </form>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center" href="/Account/Login">
                        <span class="bi bi-box-arrow-in-right-nav-menu me-2"></span>
                        <small>Login</small>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>