@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="d-flex align-items-center" href="/Home/Page">
            <img src="logo-long.svg" class="img-fluid" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        @* ================= HOME ================= *@
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Home/Page" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu me-2"></span>
                <small>Home</small>
            </NavLink>
        </div>

        @* ================= ADMIN ================= *@
        <AuthorizeView Roles="Admin">
            <Authorized>

                @* SALES *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#salesAdmin">
                            <span class="bi bi-cart-fill-nav-menu me-2"></span> <small>Sales</small>
                        </button>
                        <div id="salesAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Sales"><span class="bi bi-receipt-nav-menu me-2"></span><small>Sales</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/TransactionHistory/Index"><span class="bi bi-clock-history-nav-menu me-2"></span><small>Transactions</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/SalesTerritory/Index"><span class="bi bi-map-fill-nav-menu me-2"></span><small>Territories</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Currency/Index"><span class="bi bi-currency-dollar-nav-menu me-2"></span><small>Currencies</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/CurrencyRate/Index"><span class="bi bi-currency-exchange-nav-menu me-2"></span><small>Rates</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

                @* PRODUCTS *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#productsAdmin">
                            <span class="bi bi-bicycle-nav-menu me-2"></span> <small>Products</small>
                        </button>
                        <div id="productsAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Product/Index"><span class="bi bi-box-seam-nav-menu me-2"></span><small>Products</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ProductCategory/Index"><span class="bi bi-folder-nav-menu me-2"></span><small>Categories</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ProductDescription/Index"><span class="bi bi-file-text-nav-menu me-2"></span><small>Descriptions</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Culture/Index"><span class="bi bi-translate-nav-menu me-2"></span><small>Cultures</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/Location/Index"><span class="bi bi-pin-map-nav-menu me-2"></span><small>Locations</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

        @* ========== PRODUCTS MODULE ========== *@
        <div class="accordion px-3 nav-item" id="accordionProducts">
            <div class="accordion-item bg-transparent border-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProducts">
                        <span class="bi bi-bicycle-nav-menu"></span> <small>Products</small>
                    </button>
                </div>
                <div id="collapseProducts" class="accordion-collapse collapse" data-bs-parent="#accordionProducts">
                    <div class="accordion-body p-0 ps-3">
                        <div class="nav-item pt-2">
                            <NavLink class="nav-link" href="/Product/Index">
                                <span class="bi bi-box-seam-nav-menu"></span> <small>Products</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/ProductCategory/Index">
                                <span class="bi bi-folder-nav-menu"></span> <small>Categories</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/ProductVendor/Index">
                                <span class="bi bi-people-nav-menu"></span> <small>Product for vendor</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/ProductDescription/Index">
                                <span class="bi bi-file-text-nav-menu"></span> <small>Descriptions</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/Culture/Index">
                                <span class="bi bi-translate-nav-menu"></span> <small>Cultures</small>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* ========== INVENTORY & WAREHOUSE MODULE ========== *@
        <div class="accordion px-3 nav-item" id="accordionInventory">
            <div class="accordion-item bg-transparent border-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInventory">
                        <span class="bi bi-boxes"></span> <small class="ms-2">Warehouse</small>
                    </button>
                </div>
                <div id="collapseInventory" class="accordion-collapse collapse" data-bs-parent="#accordionInventory">
                    <div class="accordion-body p-0 ps-3">
                        <div class="nav-item pt-2">
                            <NavLink class="nav-link" href="/Location/Index">
                                <span class="bi bi-pin-map-nav-menu"></span> <small>Locations</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/Product/Inventory">
                                <span class="bi bi-inboxes-fill"></span> <small class="ms-2">Inventory</small>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @* ========== GEOGRAPHY MODULE ========== *@
        <div class="accordion px-3 nav-item" id="accordionGeography">
            <div class="accordion-item bg-transparent border-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeography">
                        <span class="bi bi-globe-americas-nav-menu"></span> <small>Geography</small>
                    </button>
                </div>
                <div id="collapseGeography" class="accordion-collapse collapse" data-bs-parent="#accordionGeography">
                    <div class="accordion-body p-0 ps-3">
                        <div class="nav-item pt-2">
                            <NavLink class="nav-link" href="/CountryRegions/Index">
                                <span class="bi bi-flag-fill-nav-menu"></span> <small>Countries/Regions</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/StateProvince/Index">
                                <span class="bi bi-building-fill-nav-menu"></span> <small>States/Provinces</small>
                            </NavLink>
                        </div>
                    </div>
                </div>

                @* CONFIGURATION *@
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#configAdmin">
                            <span class="bi bi-gear-fill-nav-menu me-2"></span> <small>Configuration</small>
                        </button>
                        <div id="configAdmin" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/PhoneNumberType/Index"><span class="bi bi-telephone-plus-nav-menu me-2"></span><small>Phone Types</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ContactType/Index"><span class="bi bi-person-lines-fill-nav-menu me-2"></span><small>Contact Types</small></NavLink>
                            </div>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/User/Index">
                                <span class="bi bi-person-fill-gear-nav-menu"></span> <small>Users</small>
                            </NavLink>
                        </div>
                    </div>
                </div>

            </Authorized>
        </AuthorizeView>

        @* ================= CUSTOMER ================= *@
        <AuthorizeView Roles="Customer">
            <Authorized>
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#salesCustomer">
                            <span class="bi bi-cart-fill-nav-menu me-2"></span> <small>Sales</small>
                        </button>
                        <div id="salesCustomer" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Sales"><span class="bi bi-receipt-nav-menu me-2"></span><small>Sales</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ShoppingCart"><span class="bi bi-cart-nav-menu me-2"></span><small>Shopping Cart</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>

        @* ================= VENDOR ================= *@
        <AuthorizeView Roles="Vendor">
            <Authorized>
                <div class="accordion px-3 nav-item">
                    <div class="accordion-item bg-transparent border-0">
                        <button class="accordion-button collapsed bg-transparent px-3" data-bs-toggle="collapse" data-bs-target="#vendorProducts">
                            <span class="bi bi-bicycle-nav-menu me-2"></span> <small>Products</small>
                        </button>
                        <div id="vendorProducts" class="accordion-collapse collapse">
                            <div class="accordion-body p-0 ps-3">
                                <NavLink class="nav-link d-flex align-items-center" href="/Product/Index"><span class="bi bi-box-seam-nav-menu me-2"></span><small>Products</small></NavLink>
                                <NavLink class="nav-link d-flex align-items-center" href="/ProductCategory/Index"><span class="bi bi-folder-nav-menu me-2"></span><small>Categories</small></NavLink>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Store/Index">
                <span class="bi bi-shop-fill-nav-menu" aria-hidden="true"></span> Store
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MyAccount">
                <span class="bi bi-shop-fill-nav-menu" aria-hidden="true"></span> My Account
            </NavLink>
        </div>

        @* ================= LOGIN / LOGOUT ================= *@
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post" class="w-100">
                        <AntiforgeryToken />
                        <input type="hidden" name="returnUrl" value="@NavigationManager.Uri" />
                        <button type="submit"
                                class="nav-link d-flex align-items-center w-100 border-0 bg-transparent text-start p-0">
                            <span class="bi bi-box-arrow-right-nav-menu me-2"></span>
                            <small>Salir</small>
                        </button>
                    </form>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center" href="/Account/Login">
                        <span class="bi bi-box-arrow-in-right-nav-menu me-2"></span>
                        <small>Login</small>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>